/.ipynb_checkpoints
/.venvalencia
/CNN_hyperparameters.py
/Figures
/LSTM_try.py
/__pycache__
/alpha_hp.py
/alpha_hpCopy1.py
/alpha_hpCopy1.py:Zone.Identifier
/alpha_results.txt
/ap_utils.py
/ap_utils.py:Zone.Identifier
/ap_utils4.py
/ap_utils4:Zone.Identifier
/ap_utils5.py
/ap_utils5:Zone.Identifier
/ap_utils5Copy1.py
/ap_utils_2.py
/ap_utils_2:Zone.Identifier
/ap_utils_3.py
/ap_utils_3:Zone.Identifier
/clasif_AP-Copy1.py
/clasif_AP.py
/clasif_AP.py:Zone.Identifier
/cluster_AP-Copy1.py
/cluster_AP.py
/cluster_AP.py:Zone.Identifier
/data/*
/hpregr_AP.py
/hregr_hyperparameter.py
/hyperparameters.py
/important
/lstm.py
/min0
/min13
/min3
/min5
/min9
/new_data.py
/olivia_results.txt
/olivia_run.zip
/reg_results.txt
/regr_AP.py
/regr_AP.py:Zone.Identifier
/results_clasify.txt
/results_olivia
/segmAP_test_Ines-Copy1.py
/segmAP_test_Ines.py
/segmAP_test_Ines.py:Zone.Identifier
/segmAP_test_Ines_2.py
/segmAP_test_Ines_2:Zone.Identifier
/simple_pred.py
/stepwise_results.txt
/todo.txt
/try.ipynb
/visualize.ipynb
*.pyc
alpha_hp_stepwise.py